body{
    margin: 0;
    padding: 0;
   background-color:#EDE6D6;
    color: rgb(129, 11, 11);
    text-align: center;

}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(108, 18, 18);
    margin: left 70px;
}
li{
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*header/Logo Titile*/
.header{
    padding: 60px;
    text-align: center;
    background-image: url(https://www.woolworths.co.za/images/elasticera/products/alternate/2019-10-17/6009214784656_detail.jpg);
    color: rgb(63, 12, 12);
    font-size: 50px;
    background-repeat: no-repeat;

    background-position: center;
}

/* page content*/
.content {padding: 20px;}
