@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
}

:root {
  --BG-GRAY: #ebebeb;
  --BG_WHITE: #fff;
  --GRAY-50: #6b6b6c;
  --GRAY-100: #242424;
  --BLUE-50: #4e7198;
  --TRANSITION-50: 0.3s ease-in-out;
  --TRANSITION-100: 0.5s ease-in-out;
  --TRANSITION-150: 2s ease-in-out;
  --RADIUS: 0.5rem;
}

body {
  background: var(--BG_WHITE);
  color: var(--GRAY-100);
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

/* NAVBAR */

nav {
  height: 5rem;
  width: 100%;
  background-color: var(--BG-GRAY);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  font-weight: bold;
  font-weight: 900;
  position: fixed;
  top: 0;
  opacity: 0.9;
  z-index: 10;
}

nav .logo {
  font-size: 1.5rem;
  letter-spacing: 3px;
  cursor: default;
  transition: var(--TRANSITION-150);
}

nav .cart {
  cursor: pointer;
}

nav svg {
  cursor: pointer;
}

nav:hover > .logo {
  letter-spacing: 0.5rem;
}

/* section */
section {
  padding: 2rem 1rem;
}

/* intro */
.intro {
  padding-top: 8rem;
  height: 100vh;
  background-color: var(--BG-GRAY);
}

.intro .header {
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.intro .details {
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
}

.intro .details .left p {
  color: var(--GRAY-50);
  word-spacing: 3px;
  font-size: 1.2rem;
  font-weight: 100;
  margin-bottom: 2rem;
}

.intro .details .left button {
  padding: 1rem 2rem;
  border-color: var(--BLUE-50);
  color: var(--BLUE-50);
  border-radius: 0.5rem;
  transition: var(--TRANSITION-50);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
  margin: 0 auto;
}

.intro .details .left button:hover {
  padding: 1rem 2rem;
  border-color: var(--BLUE-50);
  background-color: var(--BLUE-50);
  color: var(--BG-GRAY);
  border-radius: 0.5rem;
  transition: var(--TRANSITION-50);
}

.intro .details .right img {
  width: 100%;
  border-radius: 0.5rem;
}

/* Filter */

.filter {
  text-align: center;
  padding: 2rem 0;
  margin-top: 2rem;
}

.filter ul {
}

.filter li {
  display: inline;
  padding: 1rem 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  transition: var(--TRANSITION-50);
  border: solid 1px var(--BG_WHITE);
}

.filter li:hover {
  border: solid 1px var(--GRAY-50);
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 1rem;
}

.product-item {
  border-radius: var(--RADIUS);
  overflow: hidden;
  transition: var(--TRANSITION-100);
  position: relative;
}

.product-item button {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--BG-GRAY);
  color: var(--BLUE-50);
  padding: 0.5rem 2rem;
  border-color: var(--BLUE-50);
  border-right: 0;
  cursor: pointer;
  z-index: 1;
  display: none;
  margin-bottom: 1rem;
  animation: cartBtnAnnimation var(--TRANSITION-100);
  border-radius: var(--RADIUS) 0 0 var(--RADIUS);
  transition: var(--TRANSITION-50);
}

.product-item button:hover {
  background-color: var(--BLUE-50);
  color: var(--BG-GRAY);
  border-color: var(--BLUE-50);
}

@keyframes cartBtnAnnimation {
  0% {
    margin-right: -6rem;
  }
  100% {
    margin-right: 0;
  }
}

.product {
  height: 25rem;
  transition: var(--TRANSITION-100);
}

.product img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-top-left-radius: var(--RADIUS);
  border-top-right-radius: var(--RADIUS);
}

.product .details {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.product .details .name {
  font-weight: bold;
  font-size: 1.4rem;
}

.product .details .category {
  font-size: 0.8rem;
  color: var(--GRAY-50);
  margin-top: 5px;
}

.product .details .price {
  font-weight: bold;
  font-size: 1.4rem;
}

.product-item:hover {
  background-color: var(--BG-GRAY);
}

.product-item:hover > .product {
  transform: scale(0.9);
}

.product-item:hover > button {
  display: block;
}

footer {
  height: 10rem;
  margin-top: 5rem;
}

/* desktop style ******************************/
@media only screen and (min-width: 700px) {
  /* NAVBAR */

  nav {
    padding: 0 3rem;
  }

  nav .logo {
    letter-spacing: 5px;
  }

  nav:hover > .logo {
    letter-spacing: 1.5rem;
  }

  /* section */
  section {
    padding: 2rem 8rem;
  }

  .intro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .intro .header {
    font-size: 3rem;
  }

  .intro .details {
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }

  .intro .details .left {
    flex: 1;
  }

  .intro .details .left p {
    word-spacing: 8px;
    font-size: 1.4rem;
    font-weight: 100;
    padding-right: 8rem;
  }

  .intro .details .right img {
    object-fit: cover;
    height: 500px;
  }

  .intro .details .left button {
    margin: 0;
  }

  .intro .details .right {
    flex: 1;
  }
}
