* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --blue: #f8faff;
  --blue50: #e2e9f9;
  --blue100: #87a0ce;
  --dark50: #c6cad2;
  --dark: #373c47;
  --white: #fff;
  --body-padding: 8rem;
  --transition: ease 0.3s;
  --radius50: 0.2rem;
  --radius100: 0.5rem;
  --radius150: 1rem;
}

body {
  height: 100vh;
  font-family: sans-serif;
  color: var(--dark);
  background-color: var(--white);
  padding: var(--body-padding);
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  width: 20rem;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: solid 1px var(--blue50);
  border-radius: var(--radius50);
}

.search input {
  flex: 1;
}

.link li {
  display: inline-block;
  cursor: pointer;
  padding: 1rem 1.5rem;
  border-radius: var(--radius100);
  transition: var(--transition);
}

.link li:hover {
  background-color: var(--blue100);
  color: var(--white);
  letter-spacing: 0.1rem;
}

.link .active {
  background-color: var(--blue100);
  color: var(--white);
  letter-spacing: 0.1rem;
}

main {
  flex: 1;
  overflow-y: scroll;
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 15rem);
  grid-auto-rows: 15rem;
}

main .card {
  border: solid 1px var(--white);
  background-color: var(--blue);
  border-radius: var(--radius100);
  user-select: none;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  transition: var(--transition);
}

main .card:hover {
  border: solid 1px var(--blue100);
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 12px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 12px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 12px -9px rgba(0, 0, 0, 0.75);
}

main .active {
  border: solid 1px var(--blue100);
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 12px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 12px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 12px -9px rgba(0, 0, 0, 0.75);
}

main .card img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 50%;
  opacity: 0.9;
  transition: var(--transition);
}

main .card:hover img {
  opacity: 1;
  transform: scale(1.07);
}

main .card .details {
  padding-top: 1rem;
}

main .card .details .fullname {
  font-weight: bold;
  font-size: 1.3rem;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
}

main .card .details .othername {
  font-weight: 300;
  font-size: 0.9rem;
  font-style: italic;
  margin-bottom: 1rem;
}

span.skill {
  font-size: 0.8rem;
  display: inline-block;
  padding: 0.3rem 0.8rem;
  margin-top: 0.2rem;
  text-transform: lowercase;
  border-radius: var(--radius150);
  border: solid 1px var(--dark50);
  color: var(--blue100);
  font-weight: bold;
}

#testimonals{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.testimonal-heading{
  letter-spacing: 1px;
  margin: 30px 0px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}

.testimonal-heading h1{
  font-size: 2.2rem;
  font-weight: 500;
  background-color: #202020;
  color: #fff;
  padding: 10px 10px;
}

.testimonal-heading span{
  font-size: 1.3rem;
  color: #252525;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}