* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --blue50: #e2e9f9;
  --blue100: #87a0ce;
  --dark50: #373c477b;
  --dark: #373c47;
  --white: #fff;
  --body-padding: 8rem;
  --transition: ease 0.3s;
}

body {
  height: 100vh;
  font-family: sans-serif;
  color: var(--dark);
  background-color: var(--white);
  padding: var(--body-padding);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  width: 20rem;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: solid 1px var(--blue50);
  border-radius: 0.2rem;
}

.search input {
  flex: 1;
}

.link li {
  display: inline-block;
  cursor: pointer;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  transition: var(--transition);
}

.link li:hover {
  background-color: var(--blue100);
  color: var(--white);
  letter-spacing: 0.1rem;
}

.link .active {
    background-color: var(--blue100);
    color: var(--white);
    letter-spacing: 0.1rem;
  }
